{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Ingredients" %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-4 me-auto">
        <!-- Sidebar start -->
        <aside class="sidebar">
            <!-- Filter card -->
            <div class="card mb-4">
                <div class="card-body px-4">
                    <h4 class="card-title">Filters</h4>
                    <form action="{% url 'ingredient_list' %}" method="get">
                        {{ form.id }}
                        {% bootstrap_field form.category %}
                        {% bootstrap_button button_type="submit" content="Apply filter" %}
                        {% bootstrap_button button_type="link" button_class="btn-secondary" content="Reset filter" href="/ingredients" %}
                    </form>
                </div>
            </div>
            <!-- Add ingredient card -->
            <div class="card mb-4">
                <div class="card-body px-4">
                    <h4 class="card-title">Add ingredients</h4>
                    <p class="card-text">Is there something missing from our database of ingredients? If so, please go ahead and add it!</p>
                    <a href="{% url 'ingredient_create' %}">
                        {% bootstrap_button button_type="button" content="Add an ingredient" %}
                    </a>
                </div>
            </div>
        </aside>
        <!-- Sidebar end -->
    </div>
    <div class="col-md-8 mx-auto">
        <!-- Ingredient table start -->
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Ingredient name</th>
                <th scope="col">Category</th>
                <!-- Only show actions column to superusers -->
                {% if user.is_superuser %}
                <th scope="col">Actions</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <!-- Only show ingredient edit/delete to superusers -->
                        {% if user.is_superuser %}
                        <td>
                            <a href="{% url 'ingredient_update' item.pk %}">
                                {% bootstrap_button button_type="button" content="Edit" %}
                            </a>
                            <a href="{% url 'ingredient_delete' item.pk %}">
                                {% bootstrap_button button_type="button" button_class="btn-danger" content="Delete" %}
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Ingredient table end -->
    </div>
</div>

{% endblock %}