{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "My Cookbook" %}{% endblock %}
{% block content %}

<div class="row">
    {% include 'recipe/_recipe_list.html' %}
    <div class="col-md-4 ms-auto">
        <aside class="sidebar">
            <div class="card mb-4">
                <div class="card-body px-4">
                    <h4 class="card-title">{{ user.username }}'s cookbook!</h4>
                    <p class="card-text">This is where all of your saved recipes are stored for quick reference.</p>
                </div>
            </div>
        </aside>
    </div>
</div>

{% endblock %}