{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <div class="col-md-3 me-auto">
        <aside class="sidebar">
            <div class="card mb-4">
                <h4 class="card-title">Filters</h4>
                <form action="{% url 'ingredient_list' %}" method="get">
                    {{ form.id }}
                    {% bootstrap_field form.category %}
                    {% bootstrap_button button_type="submit" content="Apply filter" %}
                    {% bootstrap_button button_type="link" content="Reset filter" href="/ingredients" %}
                </form>
            </div>
        </aside>
    </div>
    <div class="col-md-9 mx-auto">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Ingredient name</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            <a href="{% url 'ingredient_update' item.pk %}">
                                {% bootstrap_button button_type="button" content="Edit" %}
                            </a>
                            <a href="{% url 'ingredient_delete' item.pk %}">
                                {% bootstrap_button button_type="button" content="Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}