{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="card p-0 mb-5">
    <div class="card-header">
        <h1>Ingredient</h1>
    </div>
    <div class="card-body p-4">
        <form id="create-ingredient-container" action="" method="POST" class="form fs-6 fw-light">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="row d-flex justify-content-center m-5">
                {% bootstrap_button button_type="submit" content="Save ingredient" size="lg" %}
            </div>
        </form>
    </div>
</div>

{% endblock %}