{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <div class="col-md-9 mx-auto">
        <form action="{% url 'ingredient_list' %}" method="get">
            <input name="query" type="text" placeholder="Search...">
        </form>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Ingredient name</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ingredients %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            <a href="{% url 'ingredient_update' item.pk %}">
                                {% bootstrap_button button_type="button" content="Edit" %}
                            </a>
                            <a href="{% url 'ingredient_delete' item.pk %}">
                                {% bootstrap_button button_type="button" content="Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}