{% extends "base.html" %}

{% block content %}

<h1>Add a new recipe</h1>
<form id="form-container" method="POST">
    {% csrf_token %}
    {{ recipe_form }}
    <fieldset>
        <legend>Add ingredients</legend>
        {{ ingredient_formset.management_form }}
        {% for form in ingredient_formset %}
            {{ form.id }}
            <div class="ingredient-form">
                {{ form.qty }}
                {{ form.unit }}
                {{ form.ingredient }}
            </div>
        {% endfor %}
    </fieldset>
    <button id="add-form" type="button">Add another ingredient</button>
    <button type="submit">Create recipe</button>
</form>

{% endblock %}