{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<div class="col-6 mx-auto">
    <h1>Add a new recipe</h1>
    <form id="create-recipe-container" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form recipe_form %}
        <fieldset id="ingredient-fieldset">
            <legend>Add ingredients</legend>
            {{ ingredient_formset.management_form }}
            {% for form in ingredient_formset %}
                <div class="ingredient-form">
                    {% bootstrap_field form.qty %}
                    {% bootstrap_field form.unit %}
                    {% bootstrap_field form.ingredient %}
                </div>
            {% endfor %}
        </fieldset>
        <fieldset id="instruction-fieldset">
            <legend>Add instructions</legend>
            {{ instructions_formset.management_form }}
            {% for form in instructions_formset %}
                <div class="instruction-form">
                    {% bootstrap_field form.step_no %}
                    {% bootstrap_field form.description %}
                </div>
            {% endfor %}
        </fieldset>
        {% bootstrap_button button_type="button" content="Add another ingredient" button_class="btn-secondary" id="add-ingredient" %}
        {% bootstrap_button button_type="button" content="Add another instruction step" button_class="btn-secondary" id="add-instruction" %}
        {% bootstrap_button button_type="submit" content="Create recipe" %}
    </form>

</div>
{% endblock %}