{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Recipe: " %}{{ recipe.name }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-9">
        <article class="card mb-4">
            <header class="card-header text-center">
                <a href="{% url 'recipe_detail' recipe.slug %}">
                    <h1 class="card-title">{{ recipe.name }}</h1>
                </a>
                <div class="card-meta">
                    Course: {{ recipe.get_meal_display }} | Cooking time: {{ recipe.cooking_time }} mins<br>
                    <!-- TODO turn this into a link for all author's recipes -->
                    Written by {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                </div>
            </header>
            <a href="{% url 'recipe_detail' recipe.slug %}">
                {% if "placeholder" in recipe.featured_image.url %}
                    <img alt="{{ recipe.name }}" src="https://res.cloudinary.com/go-eat-co/image/upload/v1654093874/cld-sample-4.jpg" class="card-img">
                {% else %}
                    <img alt="{{ recipe.name }}" src="{{ recipe.featured_image.url }}" class="card-img">
                {% endif %}
            </a>
            <div class="row mt-4">
                <div class="col-md-6 card-body px-5">
                    <h4 class="card-title">Ingredients</h4>
                    <ul class="list-unstyled">
                        {% for item in recipe.ingredients.all %}
                            <li>{{ item.qty }} {{ item.get_unit_display }} <strong>{{ item.ingredient }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 card-body px-5">
                    <h4 class="card-title">Instructions</h4>
                    <ol class="list-group list-group-flush list-group-numbered">
                        {% for step in recipe.instructions.all %}
                            <li class="list-group-item p-0 py-2">{{ step.step }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-3 ms-auto">
        <aside class="sidebar">
            {% if user.is_authenticated and user == recipe.author %}
            <div class="card mb-4 is-author">
                <div class="card-body px-4">
                    <h4 class="card-title">Author Actions</h4>
                    {% if recipe.public %}
                    <p class="card-text">This recipe is <strong>public</strong> and can be seen by non-members as well as members.</p>
                    {% else %}
                    <p class="card-text">This recipe is exclusive to the community and can be seen only by members.</p>
                    {% endif %}
                    <a href="{% url 'recipe_update' recipe.slug %}" class="btn btn-primary mb-3">Edit this recipe</a>
                    <a href="{% url 'recipe_delete' recipe.slug %}" class="btn btn-primary">Delete this recipe</a>
                </div>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Save for later</h4>
                    <!-- Saves -->
                    <p class="text-secondary">This recipe has been saved by <strong>{{ number_of_saves }}</strong> member{{ number_of_saves|pluralize }}.</p>
                    <form action="{% url 'recipe_save' object.slug %}" method="POST">
                        {% csrf_token %}
                        {% if recipe_is_saved %}
                        <button type="submit" name="recipe_save" value="{{object.slug}}" class="btn btn-info">Remove from Cookbook</button>
                        {% else %}
                        <button type="submit" name="recipe_save" value="{{object.slug}}" class="btn btn-info">Save to Cookbook</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">About this recipe</h4>
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">About the author</h4>
                    <p class="card-text">Author: {{ recipe.author.first_name }} {{ recipe.author.last_name }}</p>
                    <p class="card-text">{{ recipe.author.profile.bio }}</p>
                    {% if user.is_authenticated and user == recipe.author %}
                    <a href="{% url 'profile_update' %}" class="btn btn-primary">Update bio</a>
                    {% endif %}
                </div>
            </div>
        </aside>
    </div>
</div>

{% endblock content %}