{% extends "base.html" %}

{% block content %}

<h1>Add a new recipe</h1>
<form id="create-recipe-container" method="POST">
    {% csrf_token %}
    {{ recipe_form }}
    <fieldset id="ingredient-fieldset">
        <legend>Add ingredients</legend>
        {{ ingredient_formset.management_form }}
        {% for form in ingredient_formset %}
            <div class="ingredient-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </fieldset>
    <fieldset id="instruction-fieldset">
        <legend>Add instructions</legend>
        {{ instructions_formset.management_form }}
        {% for form in instructions_formset %}
            <div class="instruction-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </fieldset>
    <button id="add-ingredient" type="button">Add another ingredient</button>
    <button id="add-instruction" type="button">Add another instruction step</button>
    <button type="submit">Create recipe</button>
</form>

{% endblock %}