{% extends 'base.html' %} {% block content %}

<div class="col-4 mt-5">
    <p>{{ recipe.author|upper }}</p>
    <!-- Recipe title goes in these h1 tags -->
    <h1 class="post-title">{{ recipe.name }}</h1>
    <p>Meal: {{ recipe.get_meal_display }}</p>
    <!-- Recipe meta -->
    <p>Author: {{ recipe.author }} | Cooking time: {{ recipe.cooking_time }}</p>
    <p>Public: {% if recipe.public %}Yes{% else %}No{% endif %}</p>
</div>
<div class="col-8">
    <div>
        <!-- The featured image URL goes in the src attribute -->
        {% if "placeholder" in recipe.featured_image.url %}
            <img src="https://res.cloudinary.com/go-eat-co/image/upload/v1654093874/cld-sample-4.jpg" class="img-fluid">
        {% else %}
            <img src="{{ recipe.featured_image.url }}" class="img-fluid">
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4 mt-3">
            <h2>Ingredients</h2>
            <ul class="list-group list-group-flush">
                {% for item in recipe.ingredients.all %}
                    <li class="list-group-item">
                        {{ item.qty }} {{ item.get_unit_display }} <strong>{{ item.ingredient }}</strong>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col mb-4 mt-3">
            <h2>Instructions</h2>
            <ol class="list-group list-group-flush list-group-numbered">
                {% for step in recipe.instructions.all %}
                    <li class="list-group-item">
                        {{ step.step }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

{% endblock content %}