{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body px-4 text-center">
                <h2 class="card-title">Sorry, we can't serve this page</h2>
                <h3 class="card-title">404</h3>
                <p>Butter stay on the safe side and lettuce get you back on course!</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Take me home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}