{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-body px-4 text-center">
                <h4 class="card-title">Are you sure you want to delete "{{ object }}"?</h4>
                <p>This action is permanent.</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}