{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    
    <title>Go Eat Co. -- {% block head_title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Go Eat Co. The place to go for recipe inspiration to make meal planning easy.">
    <meta name="keywords" content="recipes, meal planning, cookbook, cooking, healthy eating">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ovo&family=Quattrocento+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100 pt-5">

    <!-- Include header -->
    {% include '_header.html' %}

    <main class="flex-shrink-0 mt-4 mb-5">
        <div class="container">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </div>
    </main>

    <!-- Include footer -->
    {% include '_footer.html' %}

    <!-- JavaScript -->
    <!-- Vendor scripts -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Project scripts -->
    <script src="{% static 'js/addFormFields.js' %}"></script>

</body>
</html>