{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Go Eat Co.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 pt-5 mt-5">

    <!-- Navigation -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{% url 'recipe_list' %}" class="navbar-brand">Go Eat Co.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
                        <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                {% block content %}
                <!-- Content Goes here -->
                {% endblock content %}
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
    </footer>

    <!-- Vendor scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Project scripts -->
    <script src="{% static 'js/addFormFields.js' %}"></script>
</body>

</html>